h1{
    text-transform: uppercase;
    color: rebeccapurple;
    font-size: 75;
    font-family: sans-serif;
}
div{
    background-image: linear-gradient(
        to right bottom,
        rgba(76, 37, 83, 0.7),
        rgba(90, 33, 73, 0.7)),
    url(media/bed.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
ul{
    list-style: none;
}
img{
    height: 50vh;
    filter: blur(7px);
}
body{
    text-align: center;
}
li{
    text-transform: lowercase;
    color: mediumslateblue;
    font-size: 40;
}